/**
*==============================================
*styles.css -- Global styles for the MyRWD website
*===============================================
*
*Created April 1, 2014
*
*Authorized by Andrew Hodge
*
*/

/* ----- Basic styling ----- */
footer {
  clear:both;
}

body {
  background-color: light-blue;
}

#page-wrapper {
  background-color:#ffffff;
  width:960px;
  margin: auto;
}

#content {
  content: #f7f2da;
  padding: 0em 1em;
  margin-bottom: 10px;
  float: left;
  width: 625;

nav {
  color: gray;
  padding:0;
  margin:0;
  
}

nav ul {
  list-style-type: none;
}

nav li {
  padding: 3px 10px; 
}


/*----Three-Column Fixed Layout----*/
#page-wrapper {
  width:960px;
}

#sidebar {
  float: left;
  width: 160px;
}
nav {
  float: left;
  width: 175;
}

/*---ad styling---*/
.wide-skyscaper-ad {
  width: 160px;
  height: 600px;
  background-color: silver;
  position; relative;
}

/*---left-sided nav menu---*/

